
  
<ion-content [fullscreen]="true">
<br><br>
  <ion-card mode="ios" routerLink="/listPatisserie">
    <ion-card-header>
      <ion-card-subtitle><img style="height: 200px; width: 500px" src = "../../assets/images/fastfood.jpg" class="card-img-top" alt="..."></ion-card-subtitle>
      <ion-card-title>Patisserie</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card mode="ios" href="">
    <ion-card-header>
      <ion-card-subtitle><img style="height: 200px; width: 500px" src = "../../assets/images/fastfood.jpg" class="card-img-top" alt="..."></ion-card-subtitle>
      <ion-card-title>FastFood</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios" href="">
    <ion-card-header>
      <ion-card-subtitle><img style="height: 200px; width: 500px" src = "../../assets/images/téléchargement.jpg" class="card-img-top" alt="..."></ion-card-subtitle>
      <ion-card-title>Vernoiserie</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios" href="">
    <ion-card-header>
      <ion-card-subtitle><img style="height: 200px; width: 500px" src = "../../assets/images/fastfood.jpg" class="card-img-top" alt="..."></ion-card-subtitle>
      <ion-card-title>Boulangerie</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios" href="">
    <ion-card-header>
      <ion-card-subtitle><img style="height: 200px; width: 500px" src = "../../assets/images/boulangerie.jpg" class="card-img-top" alt="..."></ion-card-subtitle>
      <ion-card-title>Glacier</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>