<ion-app style=" background-color:#ffe5d9">

    <ion-menu menuId="first" contentId="content">
        <ion-header>
            <ion-toolbar color="dark">
                <ion-title style="color: darkgray;">Le BleDor</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item (click)="openUrl('facebook', 'Light Econ-D', 'https://www.facebook.com/light-econ-d/')">
                    <img src="../assets/icon/icons8-facebook-96.png" alt="" style="height: 50px;width:50px">
                    <ion-label style="color: darkgray;">Notre page FACEBOOK</ion-label>
                </ion-item>
                <ion-item (click)="openUrl('instagram', 'Light Econ-D', 'https://www.instagram.com/light-econ-d/')">
                    <img src="../assets/icon/icons8-instagram-96 (1).png" alt="" style="height: 50px;width:50px">
                    <ion-label style="color: darkgray;">Notre page instagram</ion-label>
                </ion-item>
                <ion-item (click)="openUrl('twitter', 'Light Econ-D', 'https://www.twitter.com/light-econ-d/')">
                    <img src="../assets/icon/icons8-twitter-96.png" alt="" style="height: 50px;width:50px">
                    <ion-label style="color: darkgray;">Notre page twitter</ion-label>
                </ion-item>
                <ion-item (click)="openUrl('PlayStore', 'le blé dor', 'https://play.google.com/store/apps/')">
                    <img src="../assets/icon/icons8-share-128.png" alt="" style="height: 50px;width:50px">
                    <ion-label style="color: darkgray;">Partager l'application</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label color="warning" style="font-weight:bold;text-align:center">Le Blé D'Or</ion-label>
                </ion-item>

                <ion-item (click)="openUrl('PlayStore', 'le blé dor', 'https://play.google.com/store/apps/')">
                    <img src="../assets/icon/icons8-gmail-64.png" alt="" style="height: 50px;width:50px">
                    <ion-label style="color: darkgray;">Contact</ion-label>
                </ion-item>
                <ion-item (click)="openUrl('PlayStore', 'le blé dor', 'https://play.google.com/store/apps/')">
                    <img src="../assets/icon/icons8-document-96.png" alt="" style="height: 50px;width:50px">
                    <ion-label style="color: darkgray;">A propos</ion-label>
                </ion-item>
                <ion-item (click)="openUrl('PlayStore', 'le blé dor', 'https://play.google.com/store/apps/')">
                    <img src="../assets/icon/icons8-power-64.png" alt="" style="height: 50px;width:50px">
                    <ion-label style="color: darkgray;">Quitter l'application</ion-label>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content"></ion-router-outlet>
    <ion-tabs>
        <ion-tab-bar slot="bottom" color="dark">
            <ion-tab-button tab="acceuil" color="dark">
                <ion-icon name="home"></ion-icon>
                <ion-label style="font-weight:bold">Acceuil</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="produit" color="dark">
                <ion-icon name="ellipse"></ion-icon>
                <ion-label style="font-weight:bold">Produit</ion-label>
            </ion-tab-button>
        </ion-tab-bar>

    </ion-tabs>
</ion-app>