
  
<ion-content [fullscreen]="true">
  <ion-toolbar  style="padding-top:65px" mode="ios">
    <ion-title size="large" >Nos Produits</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-col>
      <ion-card mode="ios" routerLink="/listPatisserie" style="background-color: #fefae0;">
        <ion-card-header>
          <ion-card-subtitle><img style="height: 200px; width: 500px" src = "../../assets/images/patisserie.jpg" class="card-img-top" alt="..."></ion-card-subtitle>
          <ion-card-title color="warning">Patisserie</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card mode="ios"   routerLink="/listFastFood" style="background-color: #fefae0;">
        <ion-card-header>
          <ion-card-subtitle><img style="height: 200px; width: 500px" src = "../../assets/images/fastfood2.jpg" class="card-img-top" alt="..."></ion-card-subtitle>
          <ion-card-title color="warning">FastFood</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
   <ion-row>
      <ion-col>
        <ion-card mode="ios"  routerLink="/listVienoiserie" style="background-color: #fefae0;">
          <ion-card-header>
            <ion-card-subtitle><img style="height: 200px; width: 500px" src = "../../assets/images/vernoiserie.jpeg" class="card-img-top" alt="..."></ion-card-subtitle>
            <ion-card-title color="warning">Vernoiserie</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card mode="ios" routerLink="/listBoulangerie" style="background-color: #fefae0;">
          <ion-card-header>
            <ion-card-subtitle><img style="height: 200px; width: 500px" src = "../../assets/images/accueil2.jpg" class="card-img-top" alt="..."></ion-card-subtitle>
            <ion-card-title color="warning">Boulangerie</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>
   </ion-row>
    <ion-row>
      <ion-col>
        <ion-card mode="ios"   routerLink="/listGlacier" style="background-color: #fefae0;">
          <ion-card-header>
            <ion-card-subtitle><img style="height: 200px; width: 500px" src = "../../assets/images/glacier.jpg" class="card-img-top" alt="..."></ion-card-subtitle>
            <ion-card-title color="warning">Glacier</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>
    
    </ion-row>
  </ion-content>