<ion-header translucent>
    <ion-toolbar color="dark">
        <ion-buttons slot="start" (click)="dismiss()">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Mon Panier</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row size="6">
            <ion-card style="background-color:#ffffff">
                <ion-input type="hidden" name="id_livraison" id="id_livraison"></ion-input>
                <ion-card-content *ngFor="let p of cart" style="font-size:12px">
                    <ion-row>
                        <ion-col size="2">
                            <ion-input type="hidden" name="idProduit" id="{{'idProd_' + p.id}}" value="{{ p.id}}"></ion-input>
                            <ion-input type="hidden" name="quantite" id="{{'quantite_' + p.id}}" value="{{ p.nombre}}"></ion-input>
                            <ion-input type="hidden" name="prixTotal" id="{{'prixTotal_' + p.id}}"></ion-input>
                            <img style="height: 50px; width: 100px" src="../../assets/images/fastfood.jpg" class="card-img-top" alt="...">
                        </ion-col>
                        <ion-col size="8">
                            <h6 style="font-size:15px;font-weight:bold">{{p.nom}}</h6>
                            <ion-badge color="danger" style="font-weight: bold;">{{p.prix}}F</ion-badge>
                        </ion-col>
                        <ion-col size="2">
                            <ion-button color="warning" fill="clear" (click)=" removeCartItem(p)">
                                <ion-icon name="trash" slot="icon-only"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="2">
                            <ion-button (click)="decreaseCartItem(p) " color="warning">
                                <ion-icon name="remove-outline"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="6" style="padding-top:25px;padding-left:25px;">
                            <input type="text" name="quantite" value="{{p.nombre}}">
                            <input type="hidden" id="{{'total_' + p.id}}">
                        </ion-col>
                        <ion-col size="2"></ion-col>
                        <ion-col size="2">
                            <ion-button (click)=" increaseCartItem(p)" color="warning">
                                <ion-icon name="add"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
                <ion-row style="background-color: #989aa2;color: white">
                    <ion-col>
                        <label for="">Total Panier:</label>
                    </ion-col>
                    <ion-col>
                        <label for="">{{getTotal()}}</label>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-row>
        <ion-button expand="block" style="margin-top: 20px;" color="dark" (click)="showPrompt()">Commander
        </ion-button>
    </ion-grid>
</ion-content>